/*bad.html*/
body{
  font-family: serif;
}

.logo{
  border-radius: 4px;
}

.top-wrapper {
  width: 100%;
  margin:0 auto;
  padding-top:500px;
  padding-bottom:500px;
  background-image: url(top.JPG);
  background-size:100% auto;
  background-repeat:no-repeat;
  color: black;
  text-align: center;
  display:none;
}

.bg-body-area {
  background-color: rgba( 255, 255, 255, 0.8 );
}

.schedule-wrapper{
  background-color: #f7f7f7;
  padding-top:100px;
  padding-bottom:100px;
}

.schedule{
  width: 80%;
  margin:0 auto;
}

.schedule li{
  font-size:24px;
}
/*スライドイン*/
.list-container{
	overflow: hidden;
}
.slidein{
  margin: 50px auto;
	transition: 1s;
}
.slide_left{
	transform: translateX(-100%);
}

.show{
	transform: translateX(0);
}

.introduction-wrapper{
  width:80%;
  margin:0 auto;
  padding-top: 170px;
  padding-bottom: 200px;
}

.introduction-wrapper h2{
  margin-bottom: 50px;
}

.intro{
  display:flex;
  margin:0 auto;
}

.icon{
  flex:auto;
}

.icon a{
  display:block;
  padding: 100px;
  border-radius: 30px;
  text-align: center;
  opacity:0.5;
  color:white;
  font-size:24px;
  font-weight: bold;
  transition: all 0.5s;
}

.icon a:hover{
  opacity:1;
  transform:scale(1.2,1.2);
  overflow:hidden;
}

.grade1 a{
  background-image: url(grade1.JPG);
  background-size: 100% auto;
}

.grade2 a{
  background-image: url(grade2.JPG);
  background-size: 100% auto;
  margin:0 50px;
}

.grade3 a{
  background-image: url(grade3.JPG);
  background-size: 100% auto;
}

.foot-wrapper{
  height:250px;
  background-color: rgb(232, 228, 177);
}

.foot-container{
  width:80%;
  margin:0 auto;
  padding-top: 30px;
}

.link{
  width:80%;
  margin:0 auto;
}

.foot-left a{
  color:black
}

.foot-right{
  text-align: right;
}

.foot-right p{
  font-size:24px;
  display:block;
  color:black
}

.foot-right i{
  color:black;
}

.foot-right ul{
  list-style: none;
  float:right;
}

.foot-left{
  float:left;
}

.foot-left a{
  font-size: 24px;
  display:inline-block;
}


.twitter, .instagram{
  display:block;
  color:white;
  float:left;
  padding:16px;
}

/*grade1,2,3.html*/
.member-wrapper{
  background-color: #f7f7f7;
  padding-top: 50px;
}

.member-container{
  width:90%;
  margin: 0 auto;
}

.member-container h2{
  padding: 50px 0;
}

.member-container ul{
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.content{
  margin-bottom: 50px;
  
}

.flex-list li{
  flex:auto;
  list-style: none;
  width:33%;
}

.factor{
  opacity:0;
  transition:1s;
}

.fade.factor{
  opacity:1;
}


.factor img{
  width: 200px;
  height:300px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.factor h3{
  text-align: center;
}

.factor p{
  display: block;
  width:80%;
  margin: 0 auto;
}

.faculty{
  text-align: center;
  font-weight: bold;
}